
html, body{
    height: 100%;
    width:100%;
    overflow:hidden;
    margin: 0;
    
  }
  
  .grass, .sky, .road{
    position: relative;
  }
  
  .sky{
    height: 40%;
    background:#759696;
  }
  
  .grass{
    height: 30%;
    background: linear-gradient(#248823,#006727);
  }
  
  .road{
    height: 30%;
    background: #252525;
    box-sizing: border-box;
    border-top: 10px solid #7C7C7C ;
    border-bottom: 10px solid #7C7C7C ;
    width: 100%;
  }
  
  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
  }
  
  /*// ELEMENTS TO ANIMATE //*/
  
  .mario {
    position: absolute;
    top: -30px;
    left: 0px;
    /* Call the keyframe */
    animation-name: drive;
    /* Specify how long you want the animation to last for */
    animation-duration: 12s;
    /* It takes the last keyframe element (to) and applies it to the image */
    animation-fill-mode: forwards;
    
    /* It takes the first keyframe element (from) and applies it to the image */
    /* animation-fill-mode: backwards; */
    
    /* It takes the first keyframe element (from) and applies it to the image */
    /* animation-fill-mode: both; */
    
    /* Delays the animation */
    /* animation-delay: 2s; */
  
    /* Determines how many times you want the animation to repeat */
    animation-iteration-count: infinite;
  
    /* Determines the speed of the animation */
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    
  
    /* can creating your own timing option */
    /* Here you can create your own speed and different intervals of the animation: https://cubic-bezier.com/ */
    /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
  }
  
  .luigi {
    position: absolute;
    top: 40px;
    left: 0;
    animation-name: drive;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
  }
  .bird{ 
    position: absolute;
    top: 40px;
    left: 0;
    animation-name: fly;
    animation-duration:50s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: absolute;
    background-color:transparent;
    
  }



  .cloud {
  position: absolute;
}
  
  .cloud:nth-child(1) {
    width: 200px;
    top: 180px;
    opacity: 0.5;
    /* Short hand, the first item has to be animation and second item has to be duration, the rest of the order does not matter */
    animation: wind 80s linear infinite reverse;
  }
  
  .cloud:nth-child(2) {
    width: 300px;
    top:0;
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 60s linear infinite reverse;
  }
  
  /*// KEYFRAMES //*/
  
  /* Image will move from the right to the left */
  @keyframes drive {
    from { transform: translateX(-100px);} /* Starting point */
    to { transform: translateX(1700px);} /* Ending point */
  }
  
  @keyframes wind {
    from { left: -300px }
    to { left: 100% }
  }

  @keyframes fly{
    from{ left: -300px}
    to{left:100%}


  }






  .nav{
      background-color:#759696 ;
      display:block;
      color:black;
      margin-top:9px;
      margin-left: 7px;
      margin-right: 7px;
      
    
  }
  .navbar1{
      background-color:#759696;
  }